{% extends 'common/index.html' %}
{% from 'components/announcement/announcement.html' import announcement with context %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='allAnn.css') }}">
{% endblock %}
{% block content %}
    <h1 id="annHeader">Announcements</h1>
    {% for ann in anns %}
        <div onClick="window.location.href='/announcement/{{ ann.annID }}'">
            {{ announcement(ann.annID, ann.title, ann.name, ann.timestamp, ann.attachments, ann.content, ann.allowed_edit) }}
        </a>
    {% endfor %}
{% endblock %}
