{% extends 'common/index.html' %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static',filename='crudAnn.css') }}">{% endblock %}
{% block content %}
    <h1 id="crudHeader">Create, edit or delete announcement</h1>
    <form enctype="multipart/form-data" method="POST">
        <table>
            <tr>
                <th>Title:</th>
                <td>
                    <textarea id="title" name="title" required>{{ prev.title }}</textarea>
                </td>
            </tr>
            <tr>
                <th>Content:</th>
                <td>
                    <textarea id="content" name="content" required>{{ prev.content }}</textarea>
                </td>
            </tr>
        </table>
        {% if prev.annID %}
        <label for="attachments">Reupload attachments:</label>
        {% else %}
        <label for="attachments">Upload attachments:</label>
        {% endif %}
        <input type="file" id="attachments" name="attachments" multiple>
        <div style="display: flex;">
            <input class="btn btn-primary m-1" type="submit">
            {% if prev.annID %}
            <a href="/announcement/delete/{{ prev.annID }}" id="delete" class="btn btn-error m-1">Delete</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
