{% extends 'common/index.html' %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static',filename='cudAnn.css') }}">{% endblock %}
{% block content %}
    <h1 id="cudHeader">Create, edit or delete announcement</h1>
    <form enctype="multipart/form-data" method="POST">
        <table>
            <tr>
                <th>Title:</th>
                <td>
                    <textarea id="title" name="title" required>{{ prev.title }}</textarea>
                </td>
            </tr>
            <tr>
                <th>Content:</th>
                <td>
                    <textarea id="content" name="content" required>{{ prev.content }}</textarea>
                </td>
            </tr>
        </table>
        <label for="attachments">Reupload attachments:</label>
        <input type="file" id="attachments" name="attachments" multiple>
        <div style="display: flex;"><input class="button" type="submit">
        {% if prev.annID %}<a href="/announcement/delete/{{ prev.annID }}" id="delete">Delete</a>{% endif %}
        </div>
    </form>
{% endblock %}
