{% extends 'common/index.html' %}
{% from 'components/announcement/announcement.html' import announcement with context %}
{% from 'components/comment/comment.html' import comment with context %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='oneAnn.css') }}">
{% endblock %}
{% block content %}
    {{ announcement(ann.annID, ann.title, ann.name, ann.timestamp, attachments, ann.content, ann.allowed_edit) }}
    <div class="flex flex-col p-10">
        <h1 id="commHeader">Comments</h1>
        <textarea id="comment"
                  class="textarea textarea-bordered"
                  placeholder="Write a comment"></textarea>
        <div class="flex ml-0 mt-3">
            <button class="btn btn-sm btn-primary create-button mr-2">Create</button>
            <button class="btn btn-sm btn-error cancel-button">Cancel</button>
        </div>
    </div>
    {% for comm in comments %}
        {{ comment(comm.rowid, comm.name, comm.content, comm.timestamp, comm.allowed_edit) }}
    {% endfor %}
    <div class="collapse annid">{{ ann.annID }}</div>
    <script>
      document.querySelector('.create-button').addEventListener('click', () => {
        const comment = document.querySelector('#comment').value
        const id = document.querySelector('.annid').innerText
        console.log(id, document.querySelector('.annid').innerHTML, comment)
        createComment(id, comment)
        
      })

      document.querySelector('.cancel-button').addEventListener('click', () => {
        document.querySelector('#comment').value = ''
      })


      function createComment(id, content) {
        const fd = new FormData()
        fd.append('content', content)
        fd.append('announcement_id', id)

        // returns 204
        fetch('/comment/create', {
          method: 'POST',
          body: fd
        }).then(() => {
          window.location.reload()
        })
      }
    </script>
    <script src="{{ url_for('static', filename='comment.js' )}}" type="module"></script>
{% endblock %}
