#crudHeader {
    text-align: center;
    font-size: 30px
}

table {
    margin-left: 20px;
    margin-bottom: 5px;
}

tr {
    text-align: left;
}

th {
    font-size: 18px;
    margin: 10px;
}

td{
    font-size: 14px;
}

#title {
    margin: 10px;
    padding: 8px 8px;
    width: 400%;
}

#content {
    margin: 10px;
    padding: 8px 8px;
    width: 400%;
}

label {
    font-size: 18px;
    margin: 20px;
}
