{% macro header() %}
    <div class="navbar bg-base-100">
        <div class="flex-none">
            <details class="dropdown">
                <summary class="btn btn-square btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         class="inline-block w-5 h-5 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </summary>
                <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-60">
                    {% if current_user.is_anonymous %}
                        <li>
                            <a href="{{ url_for("auth.login") }}">🚪Login</a>
                        </li>
                        <li>
                            <a href="{{ url_for("auth.signup") }}">🚪Signup</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for("homepage") }}">🏠 Home</a>
                        </li>
                        <li>
                            <a href="{{ url_for("announcement.all") }}">📣 Announcements</a>
                        </li>
                        <li>
                            <a href="{{ url_for("announcement.create") }}">✏️ Create Announcement</a>
                        </li>
                        <li>
                            <a href="{{ url_for("auth.logout") }}">🚪 Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </details>
        </div>
        <div class="flex-1">
            <a class="btn btn-ghost text-xl" href="/">Huh</a>
        </div>
        <div class="flex-none">
            {% if current_user.is_anonymous %}
                <p>Not logged in</p>
            {% else %}
                <p>{{ current_user.name }}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}
