{% macro footer() %}
    <footer class="footer p-10 bg-base-200 text-base-content">
        <aside>
            Huh placeholder
        </aside>
        <nav>
            <h6 class="footer-title">Who we are</h6>
            <a class="link link-hover">About us</a>
            <a class="link link-hover">FAQ</a>
        </nav>
        <nav>
            <h6 class="footer-title">Features</h6>
            <a class="link link-hover">Announcements list</a>
            <a class="link link-hover">Homepage</a>
        </nav>
    </footer>
{% endmacro %}
